body {
	margin: 0;
	padding: 0;
	font-size: 10pt;
	font-family: "JetBrainsMono Nerd Font", monospace;
	background-color: #f4f9f9;
	color: #1e3a5f;
}

.sews_container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 25px;
	margin-top: 10px;
}

.sews_heading {
	font-size: 22pt;
	border-bottom: 3pt solid #1e3a5f;
	margin: 0;
}

.sews_section {
	background-color: white;
	width: 75%;
	display: flex;
	flex-direction: column;
	padding: 25px;
	border-radius: 15px;
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
	margin: 0;
	gap: 10pt;
}

.sews_paragraph {
	margin: 0;
	font-size: 14pt;
	line-height: 20pt;
	text-align: justify;
	hyphens: auto;
}

.sews_highlight {
	border-radius: 5px;
	padding: 0 5pt 0 5pt;
	background-color: #1e3a5f;
	color: white;
}

.sews_navbar {
	display: flex;
	flex-direction: row;
	gap: 20px;
}

.sews_navbar a {
	color: white;
	font-size: 15pt;
	text-decoration: none;
	background: #1e3a5f;
	padding: 5px;
	border-radius: 5px;
}

.sews_navbar a:hover {
	background-color: #1e3a5fa6;
	color: white;
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
	transition: box-shadow 0.1s ease-in-out;
}

.sews_footer {
	font-size: 12pt;
}
